<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reply.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/musinsa.png') }}">
    <title>무신사 실시간 랭킹</title>
    <script src="https://kit.fontawesome.com/fa9d346fc7.js" crossorigin="anonymous"></script>
    <script>
        let comment = '{{ comment }}'
        $(document).ready(function () {
            show_comment_info();
            show_comment('asc');
            show_image();
        });

        function save_comment() {
            let comment = '{{ comment }}'
            let num = $('#num').val()
            console.log(num, comment)
            let name = $('#name').val()
            let reply = $('#reply').val()
            console.log(`/reply/post/${reply}`)
            $.ajax({
                type: 'POST',
                url: `/reply/post`,
                data: {name_give: name, reply_give: reply, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function show_comment_info() {

            console.log(comment)
            $.ajax({
                type: 'POST',
                url: `/reply/show`,
                data: {comment_give: comment},
                success: function (response) {
                }
            })
        }


        function show_image() {
            $.ajax({
                type: "GET",
                url: `/musinsa`,
                data: {},
                success: function (response) {
                    let rows = response['musinsas']
                    for (let i = 0; i < rows.length; i++) {
                        let comments = rows[i]['comment']
                        let image = rows[i]['image']
                        let temp_html = `<div class="form-floating mb-4">
                                            <img src="${image}" alt="">
                                        </div>`
                        if(comment === comments){
                            $('.mb-4:nth-child(1)').append(temp_html)
                        }
                    }
                }
            });
        }

        function show_comment(props) {
            const orderValue = props; // 정렬기준
            $('#comment-list').empty()
            $.ajax({
                type: "GET",
                url: `/reply/show?comment_give=${comment}`,
                data: {},
                success: function (response) {
                    let rows = response['replys']
                    if (orderValue === 'asc') {
                        for (let i = 0; i < rows.length; i++) {
                            let name = rows[i]['name']
                            let reply = rows[i]['reply']
                            let temp_html = `<div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <p>${reply}
                                                    <button onclick="delete_comment()" type="button" class="btn2"><i class="fa-solid fa-trash-can"></i></button>
<!--                                                    <button onclick="location.href='update.html'" type="button" class="btn2"><i class="fa-regular fa-pen-to-square"></i></button>-->
                                                    </p>
                                                    <footer class="blockquote-footer">${name}</footer>
                                                </blockquote>
                                            </div>`

                            $('#comment-list').append(temp_html)
                        }

                    } else if (orderValue === 'desc') {
                        for (let i = rows.length - 1; i > 0; i--) {
                            let name = rows[i]['name']
                            let reply = rows[i]['reply']
                            let temp_html = `<div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <p>${reply}
                                                    <button onclick="delete_comment()" type="button" class="btn2"><i class="fa-solid fa-trash-can"></i></button>
<!--                                                    <button onclick="location.href='update.html'" type="button" class="btn2"><i class="fa-regular fa-pen-to-square"></i></button>-->
                                                    </p>
                                                    <footer class="blockquote-footer">${name}</footer>
                                                </blockquote>
                                            </div>`
                            $('#comment-list').append(temp_html)
                        }
                    }
                }
            });
        }

        function delete_comment() {
            $.ajax({
                type: "POST",
                url: `/reply/delete`,
                data: {comment_give: comment},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function update_comment() {
            $.ajax({
                type: "POST",
                url: `/reply/update`,
                data: {comment_give: comment},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        const recnetly = (props) => {
            const value = props;
            show_comment(props);
        }
        $(document).ready(function () {
            let weatherIcon = {
                '01': 'fas fa-sun',
                '02': 'fas fa-clouds-sun',
                '03': 'fas fa-cloud',
                '04': 'fas fa-cloud-meatball',
                '09': 'fas fa-cloud-sun-rain',
                '10': 'fas fa-cloud-showers-heavy',
                '11': 'fas fa-poo-storm',
                '13': 'fas fa-snowflake',
                '50': 'fas fa-smog'
            };

            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=bc93a7cbed56048a9a9214bd29ef4b25&units=metric',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var $Icon = (data.weather[0].icon).substr(0, 2);
                    var $Temp = Math.floor(data.main.temp) + '°';

                    $('.CurrIcon').append('<i class="' + weatherIcon[$Icon] + '"></i>');
                    $('.CurrTemp').prepend($Temp);
                }
            })
        });

    </script>
</head>
<body>
<div class="nav-bar">
    <div class="nav-wrap">
        <h2><a href="/">MUSINSA</a></h2>
        <div class="weather">
            <div class="CurrIcon"></div>
            <div class="CurrTemp"></div>
        </div>
    </div>
</div>
<div class="mypost">
    <div class="form-floating mb-4">
        <img src="" alt="">
    </div>
    <div class="form-floating mb-4">
        <input type="text" class="form-control" id="name" placeholder="name">
        <label for="floatingInput">이름</label>
    </div>
    <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="reply"
                          style="height: 100px"></textarea>
        <label for="floatingTextarea2">후기</label>
    </div>
    <button onclick="save_comment()" type="button" class="btn btn-dark">후기 남기기</button>
</div>
<div class="mycards">
    <div>
        <select onchange="recnetly(this.value)">
            <option value="asc">최신순▽</option>
            <option value="desc">최신순△</option>
        </select>
    </div>
    <div id="comment-list"></div>
</div>
</body>
</html>